.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary, 0.15),
      rgba($color-primary, 0.05)
    ),
    url('/header-image.jpg');

  background-size: cover;
  background-position: center;
  // padding: 2rem 6rem;
  height: 200px;
  @include respondMin($bpwsm) {
    justify-content: start;
    padding-left: 2.5rem;
  }

  .header-box {
    border-radius: 1rem;
    background-color: rgba(white, 0.6);
    backdrop-filter: blur(4px);
    width: 80%;
    height: 80%;
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
    @include respondMin($bpwsm) {
      width: 55%;
    }

    .header-info-box {
      margin-top: 1rem;
      div > * {
        color: $primary;
      }
      @include respondMin($bpwsm) {
        div > * {
          font-size: 24px;
        }
      }
      @include respondMin($bpwsm) {
        text-align: start;
        div > * + * {
          margin-top: 1rem;
        }
      }
    }
  }
}
