.hero {
  display: grid;
  padding: 6rem 1rem;
  place-items: center;
  text-align: center;
  .hero-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    .hero-title {
      color: $primary;
    }
    .hero-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: $secondary;
    }
  }
  @include respondMin($bpwsm) {
    grid-template-columns: 2fr 1fr;
  }
}
