.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  .navbar-box {
    visibility: hidden;
  }

  @include respondMin($bpwsm) {
    .nav-links {
      display: flex;
    }
    .hamburger-menu {
      visibility: hidden;
    }
  }
  @include respondMin($bpwsm) {
    .navbar-box {
      visibility: visible;
      ul {
        // outline: solid 1px red;
        width: 25rem;
        margin-left: 2rem;
        & > * {
          margin-left: 1.25rem;
        }
      }
      a {
        color: $primary;
      }
    }
  }
}

// mobile nav
.drawer {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition-duration: 300ms;
  .drawer-box {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    padding: 5rem 3rem;
    height: 100%;
    width: 70%;
    z-index: 9999;
    transition-duration: 300ms;
    gap: 2rem;
  }

  .drawer-list-box {
    // outline: 1px solid red;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      color: black;
      border: 1px solid black;
      padding: 0.7rem 2rem;
      border-radius: 5px;
      text-align: center;
      font-weight: 700;
    }
  }
  .drawer-close {
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
  }
}

.drawer-off {
  position: fixed;
  transition-duration: 300ms;
  .drawer-box {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    padding: 5rem 4rem;
    height: 100%;
    width: 70%;
    z-index: 9999;
    transition-duration: 300ms;
    gap: 2rem;
  }
  .drawer-list-box {
    // outline: 1px solid red;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      color: black;
      border: 1px solid black;
      padding: 0.7rem 2rem;
      border-radius: 5px;
      text-align: center;
      font-weight: 700;
    }
  }
  .drawer-close {
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
  }
}

.overflow-toggle {
  overflow: hidden;
}
